<!doctype html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>
<body>

    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">

                    <div class="px-5 ms-xl-4" style="padding-top: 40px">
                        <span class="h1 loginh1 fw-bold mb-0" >Gathered & Empowered</span>
                    </div>

                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                        <form action="/login" method="post" style="width: 23rem;">

                            <h3 class="fw-normal mb-3 pb-3 loginText" style="letter-spacing: 1px;">Log in</h3>

                            <div class="form-outline mb-4">
                                <label>Email</label>
                                <input type="text" class="form-control form-control-lg" name="email">
                            </div>

                            <div class="form-outline mb-4">
                                <label>Password</label>
                                <input type="password" class="form-control form-control-lg" name="password">
                            </div>
                            
                            <div class="pt-1 mb-4">
                                <button type="submit" class="btn btn-dark btn-md btn-block ">Login</button>
                            </div>
                       
                    
                            <p class="small mb-5 pb-lg-2">Don't have an account?<a class="text-muted" href="/signup">Signup</a></p>
                            <p class="small mb-5 pb-lg-2">Or go <a href="/">home</a>.</p>
                    
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="img/everyone.jpg"
                      alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                  </div>
            </div>
        </div>
    </section>
</body>
</html>
