body{
  word-wrap:break-word;
}

.btn-outline-light{
  color: white; 
  border: white 1px solid;
}


.loginh1{
  color:rgba(13, 12, 12, 0.756);
}
 
.loginText{
  color:rgba(13, 12, 12, 0.756);
}

.well{
  display: none; 
}